* {
    margin: 0;
}

.wrapper {
background-color: rgb(19, 140, 171);
width: 100%;
height: 1000px;
display: flex;
justify-content: center;
}
.top {
display: flex;
justify-content: space-between;
width: 610px;
height: 400px;
}
.top-right {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 400px;
}

.top-left {
width: 400px;
height: 400px;
background-color: orange;
}
.top-right-img {
    width: 200px;
    height: 190px;
background-color: orange;
}
.bottom {
display: flex;
flex-direction: column;
 width: 610px;
height: 400px;
margin-top: 10px;
}
.bottom-up, .bottom-down {
display: flex;
justify-content: space-between;

}
.bottom-up .bottom-left { 
width: 190px;
height: 190px;
background-color: orange;
}

.bottom-up .bottom-right { 
    width: 400px;
    height: 190px;
    background-color: orange;
}

.bottom-down .bottom-left,
.bottom-down .bottom-center,
.bottom-down .bottom-right {
   width: 190px;
   height: 190px;
   background-color: orange;
}
    
.bottom-down {
    margin-top: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 800px;
    background-color: orange;
}

.left {
    margin-right: 20px;
}